{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    {% if msg %}
        <div class="alert alert-{{msg[1]}} alert-dismissible" role="alert">
            {{msg[0]}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
      
{% endblock body %}
