{% extends "base.html.twig" %}

{% block body %}
{% include "navbar.html.twig" %}
{% if msg %}
    <div class="alert alert-{{msg[1]}} alert-dismissible" role="alert">
        {{msg[0]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<div>TEST</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user['id']}}</td>
                <td>{{ user['email']}}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock body %}