{% extends "base_auth.html.twig" %}

{% block body %}
<div class="container justify-content-center">
    {% if msg %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="alert alert-{{msg[1]}}" role="alert">
                {{msg[0]}}
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    {% endif %}
    <div class="row">
        <!-- Espacement Gauche -->
        <div class="col-3"></div>
        <!-- Div de Enregistrement -->
        <div class="col-6">
            <div class="card my-3">
                <div class="card-header text-center">
                    <h2>Créer votre compte</h2>
                </div>
                <div class="card-body">
                    <!-- Message Alerte -->
                    {% if msg %}
                    <div class="alert alert-{{msg[1]}}" role="alert">
                        {{msg[0]}}
                    </div>
                    {% endif %}
                    <!-- Formulaire de Connexion -->
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input 
                                class="form-control"
                                type="email"
                                id="email"
                                name="email"
                                required="required"
                                placeholder="Entrez votre email"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="email-cfg" class="form-label">Email Confirmation</label>
                            <input 
                                class="form-control"
                                type="email"
                                id="email-cfg"
                                name="email-cfg"
                                required="required"
                                placeholder="Confirmer votre email"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input 
                                class="form-control"
                                type="password"
                                id="password"
                                name="password"
                                required="required"
                                placeholder="Entrez votre password"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="password-cfg" class="form-label">Password</label>
                            <input 
                                class="form-control"
                                type="password"
                                id="password-cfg"
                                name="password-cfg"
                                required="required"
                                placeholder="Confirmer votre password"
                            />
                        </div>
                        <div class="mb-3">
                            <a href="index.php">Déjà un compte ?</a>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary" value="Créer" name="creer">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Espacement Droit -->
        <div class="col-3"></div>
    </div>
</div>
{% endblock body %}